.add_task_form {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}
  
.add_task_form .input {
    width: 100%;
    border-radius: 50px;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    box-shadow: inset 0 0 5px black;
    z-index: 1;
}

.add_task_form .input:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}